@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato'; sans-serif;
}

header {
    width: 300px;
    margin: 0 550px;
}

header img {
    float: left;
}

header h1 {
    position: relative;
    top: 10px;
    left: 10px;
}

nav {
    width: 300px;
    margin: 0 550px;
    padding: 20px 0;
    text-align: center;
    color: #000;
    text-decoration: none;
}

nav a {
    margin: 20px;
}

main {
    width: 750px;
    margin: 40px 370px;
}

section {
    width: 500p;
    height: auto;
    margin: 40px 100px;
    background-color: #F6F6F9;
    border-radius: 20px;
}

section h2 {
    font-size: 19px;
}

#inputNovaTarefa {
    font-family: 'Lato';
    padding: 0 10px;
    height: 40px;
    width: 380px;
    border-radius: 5px;
    border: 1px solid #0CCBDE;
}

#btnNovaTarefa {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    margin: 0 25px;
    color: #fff;
    background-color: #0CCBDE;
}

#btnNovaTarefa:hover {
    transform: scale(1.1);
}

#listaDeTarefas ul {
    margin: 0;
    padding: 0;
}

#listaDeTarefas li {
    list-style: none;
    padding: 20px 10px;
    margin: 20px;
    color: #fff;
    border-radius: 10px;
}

:hover li {
    background-color: #0CCBDE;
    color: #FFFFFF;
    

}